$color-light: #ffffff;
$color-gray: #f7f7f7;
$color-dark: #4a4a4a;

$color-blue: #2e8dd6;
$color-green: #1ad08f;
$color-red: #ec5451;
$color-orange: #eb8750;
$color-purple: #a769b3;
$color-yellow: #fce25a;

$text-color: $color-dark;
$header-color: $color-gray;
$shadow: lighten($color-dark, 40%);

$content-width: 1024px;