@import "../base/variables";

education {
  schools {
    display: grid;
    grid-template: repeat(auto-fit, minmax(288px, 1fr)) / repeat(auto-fit, minmax(288px, 1fr));
    grid-gap: 80px;
    padding: 30px 0;
  }

  information {
    display: grid;
    margin: 10px 0;
    align-content: start;
  }

  year,
  degree {
    font-weight: 700;
  }

  address {
    padding-top: 10px;
    font-size: 12px;
    font-style: normal;
  }

  .wws {
    background: url("../img/wws_logo.gif") no-repeat center 100% / contain;
  }

  .kit {
    background: url("../img/kit_logo.svg") no-repeat center 100% / contain;
  }

  .its {
    background: url("../img/its_logo.gif") no-repeat center 100% / contain;
  }
}