@import "../base/variables";

header {
  height: 736px;
  background-color: $header-color;
  font-size: 24px;
  text-align: center;

  pagelimit {
    background-image: url("../img/patrick.png");
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    grid-template-rows: 1fr;
    padding: 0;
  }

  patrick {
    align-self: end;
    background-color: $header-color;
    padding: 30px 0;

    * {
      + * {
        padding-top: 20px;
      }
    }
  }

  h1 {
    line-height: .8;
  }

  firstname,
  lastname {
    display: block;
    padding-top: 0;
  }

  firstname {
    font-size: 64px;
  }

  lastname {
    font-size: 43px;
  }

  hireme {
    display: block;
  }

  social,
  occupation {
    display: block;
  }

  .hireme {
    display: inline-block;
    padding: 0 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: solid 4px $text-color
  }

  @media (min-width: 768px) {
    height: 500px;

    pagelimit {
      background-position: left bottom;
      grid-template-rows: auto;
      padding: 60px;
    }

    patrick {
      align-self: auto;
      background-color: transparent;
      padding: 0;
      display: grid;
    }

    h1,
    social,
    occupation,
    hireme {
      padding: auto;
      background: transparent;
    }

    h1 {
      align-self: start;
    }

    social {
      align-self: start;
    }

    hireme,
    occupation {
      align-self: end;
    }
  }
}