@import "../base/variables";

pagelimit {
  display: grid;
  padding: 30px;
  height: 100%;

  @media (min-width: 768px)  {
    padding: 60px;
    margin: 0 auto;
  }

  @media (min-width: 1025px) {
    padding: 60px 0;
    width: $content-width;
  }
}