skills {
  skillset {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    font-size: 50px;
    text-align: center;
    padding-top: 20px;

    svg {
      justify-self: center;
      cursor: pointer;

      &:hover {
        color: lighten($text-color, 10%);

        + rating {
          svg {
            color: lighten($text-color, 10%);
          }
        }
      }
    }
  }

  rating {
    display: block;
    font-size: 7px;
  }

  @media (min-width: 1025px) {
    skillset {
      grid-template: repeat(auto-fit, minmax(50px, 1fr)) / repeat(auto-fit, minmax(50px, 1fr));
      grid-gap: 120px;
    }
  }  
}