timeline {
  event {
    display: block;
    
    + event {
      margin-top: 10px;
    }

    p {
      + p {
        margin-top: 10px;
      }
    }
  }

  year {
    display: block;
    font-weight: 700;
  }
}