@import "../base/variables";

timeline {
  events {
    background: linear-gradient(to right, rgba($color-dark, 0) 0px, rgba($color-dark, 0) 4px, rgba($color-dark, 1) 4px, rgba($color-dark, 1) 7px, rgba($color-dark, 0) 7px, rgba($color-dark, 0) 100%);
    margin: 0 auto;
    height: calc(100% - 7px);
  }

  event {
    display: block;

    + event {
      margin-top: 10px;
    }
  }

  bubble {
    display: block;
    width: 7px;
    height: 7px;
    margin: 2px;
    background: $color-dark;
    border-radius: 50%;
    cursor: pointer;
    z-index: 100;

    &.important {
      width: 11px;
      height: 11px;
      margin: 0;
    }

    + bubble {
      margin-left: 27px;
    }
  }

  eventcontent {
    display: inline-block;
    position: relative;
    top: -5px;
    left: 20px;
    padding: 5px;
    border-radius: 4px;
    border: 2px solid $shadow;

    + bubble {
      margin-top: 12px;
      margin-left: 27px;
    }
  }

  featurebranch {
    display: block;
    position: relative;
    top: -5px;

    > bubble:first-child {
      &:after {
        content: '';
        display: block;
        position: relative;
        top: 6px;
        width: 32px;
        height: 3px;
        background: $color-dark;
        transform: rotate(20deg);
      }
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 32px;
      height: calc(100% - 10px);
      margin-top: 10px;
      border-right: 3px solid $color-dark;
    }

    event {
      margin-left: 25px;

      + bubble {
        margin-top: 12px;
        margin-left: 27px;

        &:before {
          content: '';
          display: block;
          position: relative;
          top: 7px;
          left: -25px;
          width: 32px;
          height: 3px;
          z-index: -10;
          background: $color-dark;
          transform: rotate(-20deg);
        }
      }
    }

    + event {
      margin-top: -5px;
    }

    &.incomplete-branch {
      event {
        + bubble {
          &:before {
            display: none;
          }
        }
      }
    }

    &:nth-of-type(1) {
      &:before {
        border-color: $color-blue;
      }

      bubble {
        background: $color-blue;

        &:before,
        &:after {
          background: $color-blue;
        }
      }
    }

    &:nth-of-type(2) {
      &:before {
        border-color: $color-green;
      }

      bubble {
        background: $color-green;

        &:before,
        &:after {
          background: $color-green;
        }
      }
    }

    &:nth-of-type(3) {
      &:before {
        border-color: $color-red;
      }

      bubble {
        background: $color-red;

        &:before,
        &:after {
          background: $color-red;
        }
      }
    }

    &:nth-of-type(4) {
      &:before {
        border-color: $color-orange;
      }

      bubble {
        background: $color-orange;

        &:before,
        &:after {
          background: $color-orange;
        }
      }
    }

    &:nth-of-type(5) {
      &:before {
        border-color: $color-purple;
      }

      bubble {
        background: $color-purple;

        &:before,
        &:after {
          background: $color-purple;
        }
      }
    }
    &:nth-of-type(6) {
      &:before {
        border-color: $color-yellow;
      }

      bubble {
        background: $color-yellow;

        &:before,
        &:after {
          background: $color-yellow;
        }
      }
    }
  }

  .current-position {
    position: relative;
    top: -6px;
  }

  year {
    font-weight: 700;
  }

  @media (min-width: 1025px) {
    width: $content-width / 2;
  }
}